	<div class="row clearfix">
		<div class="col-md-12 column">
			<nav class="navbar" role="navigation">
				<ul>
					<li><%= link_to "Statistieken", admin_stats_path %></li>

					<li><%= link_to "Gebruikers", admin_users_path %></li>

					<li><%= link_to "Vacatures", admin_vacancies_path %></li>

					<li><%= link_to "Sollicitaties", admin_replies_path %></li>

					<li><%= link_to "Paginas bewerken", admin_pages_path %></li>
					
					<li><%= link_to "Kwaliteiten", admin_qualities_path %>

					<li><%= link_to "Uitloggen", signout_path, :method => :delete %></li>
				</ul>
			</nav>
		</div>
	</div>