<div id="content_right">       
<div class="box_710px">
<div class="title">
<a>Gegevens</a>
</div>
</div><!-- END add_media -->
<img class="picture" src="assets/clients/Jack Daniels/dummy1.jpg">
<img class="picture" src="assets/clients/Jack Daniels/dummy2.jpg">
<img class="picture" src="assets/clients/Jack Daniels/dummy3.jpg">

</div>

<b>Bijpassende vacatures</b><br>

<% @matchscore |v| %>
    <% if @matchscore[v] > 0 %>
      <b>Functieomschrijving</b><br>
     <li> <%= v.title %><br></li>

      <b>Kwaliteitenscore</b><br>
      <li><%= @matchscore[v] %> (<%= (@matchscore[v].to_f) /5 * 100 %> %)<br><br></li>
    <% end %>
    
    
    