<div id="content_right">
<!-- Voorbeeld vacature -->
<div class="box_710px">
        <div class="title">Vacature<a class="right"> </a>
        </div>
        <div class="matchbar_710">
                <div class="match">
                </div>
                <div class="matchbar_710BG">
                </div>
                <label>50% match</label>
        </div>
        <p>Wij zijn voor onze opdrachtgever opzoek naar een gemotiveerde Allround  
        Schilder in de omgeving van Hilversum.Voor deze opdrachtgever werk je veel
        bij particulieren klanten in het hogere sigment. Kwaliteit staat ...Bekijk 
        de volledige vacature
        </p>
        <table class="requirements">             
        </table>
                <div class="button">
                        <a> bekijk vacature</a>
                <div class="button_icon">
                </div>
         </div>
</div>        
<!-- End Voorbeeld vacature -->
<!-- album beheer -->
<div class="box_710px">
<div class="title">
<a>Gegevens</a>
</div>
</div><!-- END add_media -->
<img class="picture" src="assets/clients/Jack Daniels/dummy1.jpg">
<img class="picture" src="assets/clients/Jack Daniels/dummy2.jpg">
<img class="picture" src="assets/clients/Jack Daniels/dummy3.jpg">

</div>

<b>Bijpassende vacatures</b><br>

<% @matchscore |v| %>
    <% if @matchscore[v] > 0 %>
      <b>Functieomschrijving</b><br>
     <li> <%= v.title %><br></li>

      <b>Kwaliteitenscore</b><br>
      <li><%= @matchscore[v] %> (<%= (@matchscore[v].to_f) /5 * 100 %> %)<br><br></li>
    <% end %>
    
    
    