<div class="row clearfix">
	<%= render partial: "admin/profile" %>
	<div class="col-md-9 column">
		<%= render partial: "admin/nav" %>
	</div>
</div>


	<div class="content-right">
		<div class="box_710px">
	<h1><%= @quality.quality %></h1><br>
	<%= @quality.created_at %><br>
</div>
</div>

