<div class="row clearfix">
	<%= render partial: "users/profile" %>
	<div class="col-md-9 column">
		<%= render partial: "users/nav" %>

		<div class="panel panel-primary">
		        <div class="panel-heading">
		        	Veel gestelde vragen
		        </div>
		        <div class="panel-body">
					<%= @page.faq %>
		        </div>
		</div>
	</div>
</div>

