<div class="row clearfix">
	<%= render partial: "users/profile" %>
	<div class="col-md-9 column">
		<%= render partial: "users/nav" %>

		<div>
		        <a class="title">Veelgestelde vragen</a><br>
					<%= @page.faq %>
		</div>
	</div>
</div>

