
<h1>Mag ik bij u werken is een website voor werkzoekenden.</h1>
<%= link_to "Log in", signin_path, class: "btn btn-large btn-success" %>
<%= link_to "Registreren", signup_path, class: "btn btn-large btn-warning" %>

